footer {
	box-sizing: border-box;
	height: 300px;
    display: flex;
    justify-content: center;
	background-color: gray;
}
.leftBar {
	box-sizing: border-box;
	color: gray;
	width: 30%;
	background-color: #111;
	padding: 40px 0 30px 2.4rem;
	height: 300px;
}
.rightBar {
	box-sizing: border-box;
	color: gray;
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 70%;
	background-color: #111;
	padding: 5px 30px 0 2.4rem;
	word-wrap: break-word;
	height: 300px;
	text-align: center;
}
.imagefoot {
	float: left;
	list-style: none;
}
.rightBar h1 {
	padding: 5px;
	margin: 0px;
	/* right-margin: 15px; */
	word-break: normal;
	display: flex;
	justify-content: center;
}
.bottomlist a {
	color: gray;
	bottom-padding: 20px;
	text-decoration: none;
	display: flex;
	justify-content: center;
}
.bottomlist a:hover {
	color: white;
}
.bannerIcon i {
	font-size: 50px;
	color: gray;
}
.bannerIcon {
	display: flex;
	justify-content: center;
}
.leftBar i {
	font-size: 100px;
	color: gray;
}
.bannerIcon li {
	margin: 20px 20px 0 20px;
}
.bannerIcon i:hover {
	color: white;
}
@media screen and (max-width: 1000px) {
	.leftBar {
		display: none;
	}
	.rightBar {
		width: 100%;
	}
	.bannerIcon li {
	margin: 0 10px 0 10px;
	}
}
